body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:28px;
  width:759px;
  height:172px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:517px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:513px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:0px;
  width:137px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:517px;
  height:30px;
  text-align:left;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:513px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:30px;
  width:137px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:54px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:54px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:517px;
  height:54px;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:54px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:60px;
  width:137px;
  height:54px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:100px;
  height:53px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:53px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:114px;
  width:517px;
  height:53px;
  text-align:left;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:53px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:114px;
  width:137px;
  height:53px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
